<ion-view view-title="Dashboard">

 <style type="text/css">
   #header {
    font-family: 'LateRegular';
   }
 </style>
  <ion-content class="padding">
    <h2 id="header" class="animated fadeIn" align="center">Mad Minute</h2>
    <p align="center">Mad Minute is a educational mathematical app that tests your ability to solve math Problems. It counts up how many problems you can do in one minute. Pretty Simple? Use the Tab in the up left corner to pick a game. </p>
    
  </ion-content>
</ion-view>
