
<ion-view view-title="Addition" ng-app="">
		<style type="text/css">


			* {
				font-size: 15vw;
			}


			td {
				height: 28vw;
				width: 28vw;
				text-align: center;
				vertical-align: middle;
				color:white;
				font-family: "chalkzone";
			}
	  		#numTable {
	  			width: 100%;
	  			border-collapse: collapse;
				margin-top: 14vw;

	  		}

	  		#problem {
	  			margin-left: 30%;
	  		}

	  		#problem td {
	  			width: 15vw;
	  			height: 15vw;
	  		}

	  		#score {
	  			margin-left: 0; 
	  			height: 20vw;
	  			width: 20vw;
	  			font-family: "chalkzone";

	  		}

	  		#center {
	  			font-family: "chalkzone";
	  			margin-left: 0vw;
	  			color:white;
				width: 18vw;

	  		}

	  		td:active {
	  			background-color: white;
	  		}

	  		#bottomline {
	  		}


		</style>

	  <ion-content ng-style="{'background-image':'url({{backgroundImage}})'}">


	  <p id="center" ng-bind="score" ng-class="superClass"></p>
	  <div id="problem">

	  	<table>
	  		<tr>
	  			<td></td>
	  			<td ng-bind="topNum"></td>
	  		</tr>
	  		<tr>
	  			<td>+</td>
	  			<td id="bottomline" ng-bind="botNum"></td>
	  		</tr>
	  	</table>
	  </div>
	  	</style>
	  	<table id="numTable">
	  		<tr>
	  			<td class="{{myClass}}" id="button" on-tap="checkNum(topLeft)" ng-bind="topLeft"></td>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(topMiddle)"  ng-bind="topMiddle"></td>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(topRight)"  ng-bind="topRight"></td>
	  		</tr>
	  		<tr>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(middleLeft)"  ng-bind="middleLeft"></td>
	   			<td class ="{{myClass}}" id="button" on-tap="checkNum(middleMiddle)"  ng-bind="middleMiddle"></td>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(middleRight)"  ng-bind="middleRight"></td>
	  		</tr>
	  		<tr>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(bottomLeft)"   ng-bind="bottomLeft"></td>
	   			<td class ="{{myClass}}" id="button" on-tap="checkNum(bottomMiddle)"   ng-bind="bottomMiddle"></td>
	  			<td class ="{{myClass}}" id="button" on-tap="checkNum(bottomRight)"   ng-bind="bottomRight"></td>
	  		</tr>
	  	</table> 
	  </ion-content>
</ion-view>

